/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 50, tokens/*.png */
.tokens-sprite, .tokens-o, .tokens-x {
  background: url('/images/tokens-sbe1089bf0d.png') no-repeat;
}

/* line 60, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tokens-o {
  background-position: 0 0;
}

/* line 60, ../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.tokens-x {
  background-position: 0 -64px;
}
